{% macro loader(rooms, active) -%}
<div id="roomsListLoading" class="center">
    <div class="glyphicon glyphicon-refresh glyphicon-spin" ></div> Loading...
</div>
{%- endmacro %}

{% macro error(rooms, active) -%}
<div id="roomsListError" class="alert alert-danger" role="alert" style="display: none">
    OH NO... SOMETHING WENT WRONG...</br>
    <span id="roomsListErrorMessage"></span><br/>
    Last error on: <span id="roomsListErrorTime"></span>
</div>
{%- endmacro %}

{% macro rooms_list(active) -%}
<div id="{{ 'active' if active else 'inactive' }}RoomsListContent" class="panel {{ 'panel-primary' if active else 'panel-warning' }}" style="display: none">
    <div class="panel-heading">{{ 'Active' if active else 'Inactive' }} Rooms</div>
    <table class="table table-striped" id="{{ 'active' if active else 'inactive' }}Rooms">
        <thead>
            <tr>
                <th>Room</th>
                <th>Temp</th>
                <th>Rec Date</th>
                <th>&nbsp;</th>
                <!--<th>&nbsp;</th>-->
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{%- endmacro %}

{% macro modals() -%}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id='roomTempHistory' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Temperature History</h4>
      </div>
      <div class="modal-body">
        <div id="roomTempHistoryGrid"></div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro scripts(include_script_block=False) -%}
    {% if include_script_block %}
    <script>
    {% endif %}
    $(document).ready(function(){
        var jqxhr = getRoomsData();

        jqxhr.complete(function(){
            $('#roomsListLoading').hide();
            $('#activeRoomsListContent').show();
            $('#inactiveRoomsListContent').show();
        })
    });

    var g;
    function viewRoomTempHistory(room_id){
        $('#roomTempHistory').modal('show');
        var grid = $('#roomTempHistoryGrid');
        grid.empty();
        grid.pgGrid({
            url: '/api/rooms/' + room_id + '/temp_history',
            dataModel: [
                { name: 'Temp', index: 'temp', sortable: false},
                { name: 'Recorded Date', index: 'recorded_date'}
            ],
            title: '',
            dataItemIndex: 'measurements',
            sortColumn: 'recorded_date',
            sortDirection: 'DESC'
        }, true);
    }

    function getRoomsData(){
        return $.getJSON('/api/rooms', function(data){
            var errorMsgElement = $('#roomsListError');
            if(data.error == true){
                setRoomsListErrorMsg(data.error_message);
                errorMsgElement.show();
                timer = setTimeout(getRoomsData, 20000);
            }
            else {
                if(errorMsgElement.is(':visible')){
                    errorMsgElement.hide();
                }
                updateRoomsTables(data);
                timer = setTimeout(getRoomsData, 10000);
            }
        }).fail(function(jqXHR){
            if(jqXHR.status>0){
                setRoomsListErrorMsg(jqXHR.statusText + ' (' + jqXHR.status + ')');
            }
            else{
                setRoomsListErrorMsg('Unable to connect to the service... Connection refused');
            }
            $('#roomsListError').show();
            timer = setTimeout(getRoomsData, 25000);
        });
    }
    function updateRoomsTables(data){
        var $activeRoomsTbl = $('#activeRooms');
        var $inactiveRoomsTbl = $('#inactiveRooms');

        var $activeRoomTblBody = $activeRoomsTbl.find('tbody');
        var $inactiveRoomTblBody = $inactiveRoomsTbl.find('tbody');
        $activeRoomTblBody.empty()
        $inactiveRoomTblBody.empty()

        for(var i in data.rooms){
            var room = data.rooms[i];
            var row = $('<tr></tr>');

            var col = $('<td>'+room.name+'</td>');
            row.append(col);

            col = $('<td></td>').attr('width', '20px');
            if(room.hasOwnProperty('current_temp')){
                col.append(room.current_temp)
                        .append('&deg;');
            }
            else{
                col.append('<p class="text-muted"><em>N/A</em></p>');
            }
            row.append(col);

            col = $('<td></td>').attr('width', '160px');
            if(room.hasOwnProperty('current_temp_recorded_date') && room.hasOwnProperty('current_temp_recorded_time')){
                col.append(room.current_temp_recorded_time
                        .replace(' ', '&nbsp;'))
                        .append('<br/>')
                        .append(room.current_temp_recorded_date);
            }
            row.append(col);

            col = $('<td></td>').attr('width', '10px');
            col.append($('<button></button')
                    .attr('type', 'button')
                    .addClass('btn btn-default btn-xs')
                    .attr("onclick", 'viewRoomTempHistory(\''+ room.id +'\')')
                    .append($('<span></span>')
                            .addClass('glyphicon glyphicon-list-alt')
                            .attr('aria-hidden', 'true')));
            row.append(col);

            //col = $('<td></td>').attr('width', '10px');
            //col.append($('<button></button')
            //        .attr('type', 'button')
            //        .addClass('btn btn-default btn-xs')
            //        .append($('<span></span>')
            //                .addClass('glyphicon glyphicon-cog')
            //                .attr('aria-hidden', 'true')));
            //row.append(col);
            if(room.active)
                $activeRoomTblBody.append(row);
            else
                $inactiveRoomTblBody.append(row);
        }
    }

    function setRoomsListErrorMsg(msg){
        $('#roomsListErrorMessage').text(msg);
        var dt = new Date();
        $('#roomsListErrorTime').text(dt.toLocaleString());
    }

    {% if include_script_block %}
    </script>
    {% endif %}
{%- endmacro  %}