{% if not sensors %}
    <h4>No Temperature history Data Found.</h4>
{% else %}
    {% for sensor in sensors %}
        <h4>Sensor: {{ sensor['name'] }} ({{ sensor['manufacturer_id'] }})</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Temp</th>
                    <th>Rec Date</th>
                </tr>
            </thead>
            <tbody>
                {%  for temp in sensor.get('temp_history', []) %}
                <tr>
                    <td>{{ temp['temp'] }}</td>
                    <td>{{ temp['recorded_date'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endif %}